.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    &__user {
        overflow: auto;
        min-height: 70%;
        width: 90%;

        &-button {
            width: 100%;
            text-align: right;
            margin-bottom: 13px;

            button {
                background: #5189F4;
                color: #fff;
                font-size: 12px;
                width: 150px;
                height: 42px;
            }
        }

        &-table {
            width: 100%;
        }
    }
}