<table mat-table
[dataSource]="dataSource"
class="mat-elevation-z8">
  <caption hidden>
    user table
  </caption>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>
        User Name
      </th>
      <td mat-cell *matCellDef="let user">{{user.username}}</td>
    </ng-container>
    
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        Full Name
      </th>
      <td mat-cell *matCellDef="let user">{{user.name}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>
        Email
      </th>
      <td mat-cell *matCellDef="let user">{{user.email}}</td>
    </ng-container>
      
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef>
        Company
      </th>
      <td mat-cell *matCellDef="let user">{{user.company.name}}</td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>
          Address
        </th>
        <td mat-cell *matCellDef="let user">
          {{user.address.street + ', ' + 
          user.address.suite + ', ' + 
          user.address.city}}
        </td>
    </ng-container>

    <ng-container matColumnDef="no-data">
			<th *matHeaderCellDef
				[colSpan]="dataSource.data.length">No Data. </th>
		</ng-container>

    <tr mat-header-row *matHeaderRowDef="userDataColumns"></tr>

    <tr mat-header-row
			class="no-data"
			*matHeaderRowDef="['no-data']"
			[style.display]="!dataSource.data.length ? 'table-row' : 'none'"></tr>

    <tr mat-row *matRowDef="let user; columns: userDataColumns"></tr>

</table>